*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /* border : red solid 1px; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    background-color: #16f7d5;
    line-height: 1.5;
}

.cards-container {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

#marvel-description {
    margin: 1em;
    padding: 1em;
}

.columns{
    margin: .5rem;
    padding: .5rem;
}

.card-header {
    background-color: lemonchiffon;
}