:root {
    --site-background: radial-gradient(circle, rgba(169,235,236,1) 0%, rgba(253,187,45,1) 100%);
    --cardheaderbackground: #79ccdf;
    --cardtitlecolor: #fac63a;
    --btncolor: #cd2c35;
    --sitefontfamily: 'Slackey', cursive;
    --sitefontfamily2: font-family: 'Bangers', cursive;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;


    /* border : red solid 1px; */
}

body {
    font-family: var(--sitefontfamily);
    padding-top: 50px;
    /* background-color: #16f7d5; */
    line-height: 1.5;
    background: var(--site-background)
}

#char-search {
    border: 1px dotted #ccc;
    padding: 1em;
    border-radius: 2em;
}

#char-search ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#char-search ul li {
    padding: 5px 0;
}

#char-search ul li:hover {
    background: #eee;
}

#logo {
    margin-left: 2em;
    border-radius: 1em;
}

#featured-image {
    padding-top: 3em;
}

section.section.is-medium.info-container {
    padding: 5em 1.5em;
}

#marvel-description {
    font-family: 'Franklin Gothic Medium', sans-serif;
    margin: 1em;
    padding: 1em;
}

#marvel-comics,
#marvel-series{
    background-color: var(--cardheaderbackground);
}

#comics-title,
#series-title{
    font-size: large;
    color: #eee;
}

#series-links,
#comics-links {
    font-family: 'Franklin Gothic Medium', sans-serif;
}

#char-name-1,
#char-name-2,
#char-name-3,
#char-name-4 {
    font-size: large;
    background-color: var(--cardtitlecolor);
    color: rgb(243, 46, 46);
}

.button-custom {
    background-color: var(--btncolor);
    border-color: transparent;
    color: #fff;
    font-family: var(--sitefontfamily);
}

.hero-head {
    /* background: var(--site-background); */
    margin-top: 1em;
}

#favorite-characters {
    margin-top: 1.5em;
    margin-right: 1.5em;
    padding: 1.5em;
}

.cards-container {
    display: flex;
}

.navbar-item {
    font-size: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.columns{
    margin: .5rem;
    padding: .5rem;
}

.favorite-button {
    display: flex;
    justify-content: center;
}

.cards-container {
    display: flex;
}

.favorite-characters h2,
.favorite-characters h3 {
    font-size: larger;
    color: #eee;
    background-color: var(--cardheaderbackground)
}

.character-card {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}


footer {
    text-align: center;
}

@media screen and (min-width: 365px) {
    #logo {
        margin: 0 auto;
    }

    #char-name-1,
    #char-name-2,
    #char-name-3,
    #char-name-4 {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        height: 100%;
    }

    #favorite-characters {
        margin-left: 5%;
        margin-bottom: 1.5em;
    }

    .control {
        margin-left: 0 auto;
    }

    .hero.is-small .hero-body {
        padding: 0;
    }
}

@media screen and (min-width: 765px){
    #logo {
        margin-left: 2%;
    }

    #favorite-characters {
        margin-left: 1%;
        margin-bottom: 1.5em;
        padding: 1%;
    }
}